# Scripts em bash e arquivos de lote
# para auxiliar no processo de commit
*.sh
*.bat
/nbproject/private/

# Ocultando arquivos referentes às credenciais
# do banco
/persistence/dbconfig.php

# Ocultando arquivos upados para a pasta 'arquivos'
/apps/common/arquivos/*
!/apps/common/arquivos/*.php